{%extends 'all-photos/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        /* got this style from:https://stackoverflow.com/questions/39198975/how-can-i-make-image-fit-in-div-django */
        
        #img-post {
            padding: 0;
            height: 100px;
            width: 100px;
            /* max-height: 100px;
            max-width: 100px; */
        }
    </style>
</head>

<body>{% block content %} {{block.super}}
    <div class="container">

        <h1 style="font-family: 'Zhi Mang Xing', cursive; color: blue; text-align:center">
            Welcome To The Mathan Baby Solution
        </h1>
        <hr>
        <img width="100%" src="https://cdn.pixabay.com/photo/2017/08/18/12/01/crib-mobile-2654734_960_720.jpg"><br>
        <br>{% include "navbar.html" %}
        <br>
        <section id="section-about">
            <div style="font-family: 'Zhi Mang Xing', cursive; color: blue; text-align:center">
                <h1>About Us</h1>
                <h3>The Mathan Baby Solution</h3>
            </div>
            <div style="font-family: 'Zhi Mang Xing', cursive; text-align:center">
                <span>
                    <p>We are happy when we see a child well dressed. That's our pride.<br>
                        After observing and discovering that it is not easy for the parents to know where they can find clothes and accessories for their babies especially new parent<br> We decided to be your easy solution.<br>
                        We bring you the best in town, product that you can't find in other places.<br> For more info please visit us or in case of inquiries or need some help please us, We'll be so glad to hear from you and help you!
                    </p>
                </span>
            </div>
        </section>
        <br>
        <section>
            <div style="font-family: 'Zhi Mang Xing', cursive; color: blue; text-align:center">
                <h1>Products</h1>
            </div>
            <div class="row">
                {% for im in image %}
                <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>
                    <a href="{% url 'image' im.id %}">
                        <img src="{{im.image.url}}" id="img-post" class="img-thumbnail " alt="Image"><br>
                        <br>
                    </a>

                </div>
                {%endfor %}
            </div>
        </section>
        <br>
        <hr> {% include "footer.html" %} {% endblock%}
</body>


</html>