<!DOCTYPE html>

<head>
    <style>
        a:hover {
            color: rgb(13, 175, 13);
        }
    </style>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="{%url 'welcome'%}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Products</a>
            </li>
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">

                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="image" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="glyphicon glyphicon-search"></i>Search</button>
            </form>
        </ul>

    </div>
</body>